/* Estilos generales */

* {
    /* fuente requerida */
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0;
    margin: 0;
}


/* Estilos para la navbar */

.btn-search {
    background-color: #eb4646;
    margin-top: 10px;
}

.fa-lupa {
    color: white;
}

ul li a {
    color: black
}

.navbar-default {
    background-color: transparent;
    border: 0 solid transparent;
}


/* linea */

hr {
    border: 1px solid #eb4646;
}

.first-line {
    width: 10%;
    margin-bottom: -20px;
    border: 2px solid #eb4646;
}


/* Estilos para el home */

.no-padding [class*="col-"] {
    padding: 0;
}

.img-1 {
    width: 100%
}

.img-2 {
    width: 140%;
    margin-bottom: 45px;
}

.img-3,
.img-4 {
    width: 100%;
    height: 100%;
    margin-right: 5px;
}


/* section dos */

#section-dos {
    margin-top: 50px;
    margin-bottom: 50px;
}

.first-grid,
.second-grid {
    margin-bottom: 10px;
}

.division-grid {
    border: 0.2px solid gainsboro;
}

.redes-sociales-img {
    margin-bottom: 15px;
}

.title-popular {
    color: #eb4646;
}

.color-icon {
    color: #eb4646;
}

.grey-icon {
    color: grey;
}

.video {
    margin-top: 100px;
}